<div class="login-content">
    
            <!-- Register -->
            <div class="lc-block toggled" id="l-register">
                <div class="col-md-6 col-md-offset-3"><img src="/img/logosolo.png" class="img-responsive" style="margin:0 auto"/>
                <p class="text-center">iFreelance Cliente</p></div>
                <div class="lcb-form">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input name="client[email]" type="text" class="form-control" placeholder="Correo electr칩nico">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input name="client[password]" type="password" class="form-control" placeholder="Contrase침a">
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input name="client[password_confirmation]" type="password" class="form-control" placeholder="Confirmar contrase침a">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>
                    <% end %>
                </div>

               <a href="/clients/sign_in" class="btn btn-success">Ya eres Cliente</a>
                    <a href="/clients/password/new" class="btn btn-warning">Olvide la contrase침a</a>
            </div>

          
        </div>
