


<aside id="sidebar" class="sidebar c-overflow">
                <div class="s-profile">
                    <a href="" data-ma-action="profile-menu-toggle">
                        <div class="sp-pic">
                            <img src="img/demo/profile-pics/1.jpg" alt="">
                        </div>

                        <div class="sp-info">
                            <%= current_freelance.email %>

                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </a>

                    <ul class="main-menu">
                        <li>
                            <a href="/perfil"><i class="zmdi zmdi-account"></i> Ver Perfil</a>
                        </li>
                        <li>
                            <%= form_for("freelances", url: destroy_freelance_session_path, html: { method: :delete }) do |f| %>
  <a href="#" style="    padding: 14px 20px 14px 65px;    display: block;    font-weight: 500;    position: relative;    color: #4C4C4C;"><input type="submit" value="Cerrar Sesión" style="background: none;  border: none;" /></a>
  
<% end %>

                            
                        </li>
                        
                    </ul>
                </div>

                

                <ul class="main-menu">
                       
                        <li>
                            <a href="/dashboard/index"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
                        </li>
                        <li class="">
                            <a href="/clients" ><i class="zmdi zmdi-accounts-list"></i>Clientes</a>
                            
                        </li>

                        <li >
                            <a href="/projects"><i class="zmdi zmdi-developer-board"></i>Proyectos</a>
                            
                        </li>

                       
                        
        
                </ul>

                
            </ul>
            </aside>

            