<img src="http://sebastianagreda.com/image/iflogo.png" style="margin: 0 auto;width : 200px"></img>
<p>Hola <%= @resource.email %>!</p>

<p>Se ha realizado una solicitud de reinicio de contraseña para tu cuenta en iFreelance.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no hiciste la solicitud ignora el mensaje por favor.</p>
<p>Para cambiar tu contraseña ingresa al link, si no, no se restablecera la contraseña.</p>