<aside id="sidebar" class="sidebar c-overflow">
                <div class="s-profile">
                    <a href="" data-ma-action="profile-menu-toggle">
                        <div class="sp-pic">
                            <img src="img/demo/profile-pics/1.jpg" alt="">
                        </div>

                        <div class="sp-info">
                            <%= current_freelance.email  %>

                            
                        </div>
                    </a>

                   
                </div>

                <ul class="main-menu">
                    <ul class="main-menu">
                        
                        <li>
                            <a href="/dashboard/index"><i class="zmdi zmdi-view-dashboard"></i>Inicio</a>
                        </li>
                        <li class="sub-menu">
                            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-list"></i>Clientes</a>
                            <ul>
                                <li><a href="/clients">Listar</a></li>
                                <li><a href="dashboards/school.html">Modificar</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-developer-board"></i>Proyectos</a>
                            <ul>
                                <li><a href="/projects">Listar</a></li>
                                <li><a href="/items">Entradas</a></li>
                                <li><a href="/expenses">Gastos</a></li>
                            </ul>
                        </li>

                       
                        <li>
                            <a href="/freelances/sign_out"><i class="zmdi zmdi-close-circle"></i> Logout</a>
                        </li>
        
                </ul>
                   
                </ul>
            </aside>