<!DOCTYPE html>
<html>
  <head>
    <title>Ifreelance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx -->

  </head>


  <body>
    <%= yield %>

    <!-- Bootstrap core JavaScript -->

 <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<script type="text/javascript">
        $(document).ready(function(){

          $('.dtp-container').datetimepicker();

   
        })
        </script>

  </body>

</html>

