<!DOCTYPE html>
<html>
  <head>
    <title>Ifreelance</title>

    

    <%= csrf_meta_tags %>

    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx -->
  </head>


  <body>
    <%= yield %>

    <!-- Bootstrap core JavaScript -->

 <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<script type="text/javascript">
        $(document).ready(function(){

          $('.dtp-container').datetimepicker();

   
        })
        </script>

  </body>

</html>

